{
  "extends": ["airbnb"],
  "plugins": ["react"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "import/extensions": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-one-expression-per-line": [0, { "allow": ["literal", "single-child"] }],
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "object-curly-newline": [0, { "ImportDeclaration": "never", "ExportDeclaration": "never" }]
  },
  "env": {
    "jest": true
  }
}
